<html>
    <title>AgentChat - <%=user.username%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/agent.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- add JQuery -->
    <script src="/js/agent.js"></script> 

    <body>
        <div class="customerLoading">
        <!-- In the future, there will be a dynamic number of these chat windows rendered, based on how many an agent is assigned to have. Based on the number of them, they will have different classes to determine how they render 
        the class agentChatWindow-11 means first window of 1 window
        if the agent has 2, it would be classes -21 and -22,
        up until a maxmimum of 4 windows
        -->
        <div class="agentChatWindow11">
            <div class="chatItems">

            </div>
            <div id="inputHolder">
                <textarea id="newChatMessage" disabled></textarea>
                <button id="sendMessage" class="chatButton">Send</button><button id="nextChat" class="chatButton hidden">Connect to next customer</button>
            </div>
        </div>
    </body>
</html>
