<html>
    <title>AgentChat - <%=user.username%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/agent.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- add JQuery -->
    <script src="/js/agent.js"></script> 

    <body>
        <div class="customerLoading">
        <!-- In the future, there will be a dynamic number of these chat windows rendered, based on how many an agent is assigned to have. Based on the number of them, they will have different classes to determine how they render 
        the class agentChatWindow-11 means first window of 1 window
        if the agent has 2, it would be classes -21 and -22,
        up until a maxmimum of 4 windows
        -->
        <div class="agentChatWindow11">
            <div class="chatItems">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem nulla. Vestibulum lacinia dignissim venenatis. Quisque sed augue nec ligula cursus eleifend. Phasellus vitae sagittis nibh. Nulla id elit velit. Vivamus velit diam, faucibus sed egestas eget, mollis eu est. Pellentesque tincidunt neque sit amet metus tempus, interdum fringilla magna dignissim.

                Morbi porta eros orci, a maximus magna consectetur et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur lacinia nibh libero, ac viverra massa rutrum nec. In sed enim condimentum, pulvinar mi et, ullamcorper ante. In lacinia ac quam non imperdiet. Suspendisse non ligula vitae ipsum aliquam hendrerit. Etiam dictum diam non urna placerat, vel condimentum enim ultrices. Aenean ultrices justo a justo condimentum eleifend. Aliquam metus massa, malesuada eu congue et, scelerisque sit amet augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam eget elementum eros. Nulla in libero ex. Donec vitae nulla nisl.

                Fusce a congue dui, nec faucibus augue. Fusce ultrices magna bibendum mi pretium consectetur. Proin dapibus mauris in ultricies imperdiet. Donec id massa sit amet neque rutrum luctus eu ac diam. Nam vel augue mi. Nullam quis mattis tortor. Donec vestibulum eleifend euismod. Sed hendrerit ex sit amet justo accumsan, eget suscipit tellus porta. Aenean dignissim suscipit justo, ut auctor metus ultricies sed. Cras efficitur ante id eros varius, eget porttitor libero sodales. Nullam rutrum augue eu sollicitudin convallis.
            </div>
            <div id="inputHolder">
                <input id="newChatMessage" />
                <button id="sendMessage">Send</button>
            </div>
        </div>
    </body>
</html>
