<html>
    <title>Welcome to Chatter- connect to an agent!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/customer.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- add JQuery -->
    <script src="/js/customer.js"></script>

    <body>
        <div class="customerLoading">
        <h1>Customer Support</h1>
            <% if(category === "support") { %>
            <h3>Connecting you to account support...</h3>
            <% } else if(category !== "other") { %>
            <h3>Connecting you to <%=category%> support...</h3>
            <% } else { %>
            <h3>Connecting you to an agent...</h3>
            <% } %>
        </div>
        <!--    add class "hidden" to below div, upon connection, send websocket to server, upon agent connection, remove
                the class "hidden" from below div, and add it to above div -->
        <div id="chatWindow" class="hidden">
            <div class="chatItems">

            </div>
            <div id="inputHolder">
                <input id="newChatMessage" />
                <button id="sendMessage">Send</button>
            </div>
        </div>
    </body>
</html>
