<html>
    <title>Welcome to Chatter- connect to an agent!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" /
    <body>
        <h1>Customer Support</h1>
        <h3>Connecting you to <%=category%> support...</h3>
        <div>
            <span>Here goes a chat window to speak to a representative...</span>
        </div>
    </body>
</html>
