<html>
    <title>Welcome to Chatter- connect to an agent!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <body>
        <div class="customerContainer">
            <h1>Welcome to our support page!</h1>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id sem nulla. Vestibulum lacinia dignissim venenatis. Quisque sed augue nec ligula cursus eleifend. Phasellus vitae sagittis nibh. Nulla id elit velit. Vivamus velit diam, faucibus sed egestas eget, mollis eu est. Pellentesque tincidunt neque sit amet metus tempus, interdum fringilla magna dignissim.

                Morbi porta eros orci, a maximus magna consectetur et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur lacinia nibh libero, ac viverra massa rutrum nec. In sed enim condimentum, pulvinar mi et, ullamcorper ante. In lacinia ac quam non imperdiet. Suspendisse non ligula vitae ipsum aliquam hendrerit. Etiam dictum diam non urna placerat, vel condimentum enim ultrices. Aenean ultrices justo a justo condimentum eleifend. Aliquam metus massa, malesuada eu congue et, scelerisque sit amet augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam eget elementum eros. Nulla in libero ex. Donec vitae nulla nisl.

                Fusce a congue dui, nec faucibus augue. Fusce ultrices magna bibendum mi pretium consectetur. Proin dapibus mauris in ultricies imperdiet. Donec id massa sit amet neque rutrum luctus eu ac diam. Nam vel augue mi. Nullam quis mattis tortor. Donec vestibulum eleifend euismod. Sed hendrerit ex sit amet justo accumsan, eget suscipit tellus porta. Aenean dignissim suscipit justo, ut auctor metus ultricies sed. Cras efficitur ante id eros varius, eget porttitor libero sodales. Nullam rutrum augue eu sollicitudin convallis.
            </span>
            <div class="serviceMenu">
                <span>To chat with agent, please select the category below that best fits your needs, so that we can connect you with an agent that's specialized in taking care of your needs:</span>
                <ul>
                    <li><a href="/chat/sales">Sales</a></li>
                    <li><a href="/chat/billing">Billing</a></li>
                    <li><a href="/chat/support">Account Support</a></li>
                    <li><a href="/chat/other">Other</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
