<html>
    <title>Welcome to Chatter- connect to an agent!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <body>
        <h1>Welcome, customer</h1>
        <span>Now get to work building the server!</span>
    </body>
</html>
