<html>
    <body>
        <div class="loginForm" id="login">    
            <h1>Agent Login</h1>
            <form method="POST" action="/login">
                <input name="username" placeholder="username" />
                <input name="password" placeholder="password"  type="password"/>
                <input type="submit" />
            </form>
        </div>

        <div class="loginForm" id="signup">
            <h1>Agent SignUp</h1>
            <form method="POST" action="/signup">
                <input name="username" placeholder="username" />
                <input name="password" placeholder="password"  type="password"/>
                <input type="submit" />
            </form>
        </div>        

    </body>
</html>
